test_task/Connected Services/WorkingService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/WCF Service/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/WCF Service/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/WCF Service/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFSERVICETOMYAPP" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GettingAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GettingAllUsers" />
  </wsdl:message>
  <wsdl:message name="IService1_GettingAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GettingAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddingNewUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddingNewUser" />
  </wsdl:message>
  <wsdl:message name="IService1_AddingNewUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddingNewUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ChargingSomeChanges_InputMessage">
    <wsdl:part name="parameters" element="tns:ChargingSomeChanges" />
  </wsdl:message>
  <wsdl:message name="IService1_ChargingSomeChanges_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChargingSomeChangesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GettingAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GettingAllUsers" message="tns:IService1_GettingAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GettingAllUsersResponse" message="tns:IService1_GettingAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddingNewUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddingNewUser" message="tns:IService1_AddingNewUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddingNewUserResponse" message="tns:IService1_AddingNewUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChargingSomeChanges">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ChargingSomeChanges" message="tns:IService1_ChargingSomeChanges_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ChargingSomeChangesResponse" message="tns:IService1_ChargingSomeChanges_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteUser" message="tns:IService1_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteUserResponse" message="tns:IService1_DeleteUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GettingAllUsers">
      <soap:operation soapAction="http://tempuri.org/IService1/GettingAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddingNewUser">
      <soap:operation soapAction="http://tempuri.org/IService1/AddingNewUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChargingSomeChanges">
      <soap:operation soapAction="http://tempuri.org/IService1/ChargingSomeChanges" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost/WCF Service/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>