test_task/Connected Services/WorkingService/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFSERVICETOMYAPP" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFSERVICETOMYAPP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaxId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Updated" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:simpleType name="UserOperationResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Good" />
      <xs:enumeration value="NameExists" />
      <xs:enumeration value="EmailExists" />
      <xs:enumeration value="TaxIdExists" />
      <xs:enumeration value="PhoneNumberExists" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UserOperationResult" nillable="true" type="tns:UserOperationResult" />
</xs:schema>